# === Python ===
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# === Virtual Environment ===
.env
.venv
env/
.venv/
venv/
# === Django ===
staticfiles/
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# === PyCharm ===
.idea/
*.iml
*.iws

# === VS Code ===
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# === OS ===
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# === Static & Media (если не хранятся в репозитории) ===


# === Coverage ===
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
# === Docker ===
Dockerfile
docker-compose.yml
nginx.conf

# === Jupyter Notebook ===
.ipynb_checkpoints

# === Environment variables ===
.env.local
.env.development.local
.env.test.local
.env.production.local