<!-- templates/store/includes/comments_tree.html -->

{% load static %}
{% load mptt_tags %}
{% load comment_extras %}
{% recursetree comments %}
    <div class="comment-item" data-comment-id="{{ node.id }}" data-parent-id="{{ node.parent_id|default:'' }}">
        <div class="comment-header">
            <a href="{{ node.user.profile.get_absolute_url }}" class="comment-author-link">
                <strong>{{ node.user.username }}</strong>
            </a>
            <!-- Аватар-->
            <div class="comment-avatar">
                <img
                        src="



                                {% if node.user.avatar %}{{ node.user.avatar.url }}{% else %}{% static 'images/default-avatar.png' %}{% endif %}"
                        alt="{{ node.user.username }}"
                        width="25"
                        height="25"
                        style="border:1px solid #1c1c1c;border-radius:50%;"
                >
            </div>

            <span class="comment-date">{{ node.created_at|date:"d M Y H:i" }}</span>
        </div>
        <p class="comment-text">{{ node.text }}</p>
        <div class="comment-actions">
            <button class="like-btn"
                    data-comment-id="{{ node.id }}"
                    data-liked="{% if request.user.is_authenticated and node|is_liked_by:request.user %}true{% else %}false{% endif %}">
                ❤️ <span>{{ node.commentlike_set.count }}</span>
            </button>
            <button class="reply-btn" data-comment-id="{{ node.id }}">Ответить</button>
            {% if node.user == request.user %}
                <button class="delete-btn" data-comment-id="{{ node.id }}" title="Удалить комментарий">🗑️</button>
            {% endif %}
        </div>


        <!-- Вложенные комментарии -->
        {% if not node.is_leaf_node %}
            <div class="replies">
                {{ children }}
            </div>
        {% endif %}
    </div>
{% endrecursetree %}