{% extends "base.html" %}
{% load static %}
{% block title %}Смартфоны — ВИКИ{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/products-grid.css' %}">
{% endblock %}

{% block content %}
    {% include "store/includes/header.html" %}
    <!-- Модальное окно поиска (скрыто по умолчанию) -->
    <div class="search-modal" id="search-modal">
        <button class="close-search" id="close-search">&times;</button>
        {% include "store/includes/search-form.html" %}
    </div>
    <section class="hero">
        <h1><span class="gradient-text">{% if category %}{{ category.name }}{% else %}Все товары{% endif %}</span></h1>
        <p>Современные устройства с мощной начинкой и камерами нового поколения</p>
    </section>

    <!-- Сетка смартфонов -->
    <section class="products-grid">
        {% for product in products %}
            <a href="{% url 'product_detail' slug=product.slug %}" class="product-card-link">
                <div class="product-card">
                    <div class="product-badge">Новинка</div>
                    <img src="{{ product.image.url }}" alt="{{ product.name }}"
                         onerror="this.src='https://via.placeholder.com/200x200?text=No+Image'">
                    <h3 class="product-title">{{ product.name }}</h3>
                    <p class="product-desc">8 ГБ ОЗУ, 256 ГБ ПЗУ, камера 200 МП</p>
                    <div class="product-price">от {{ product.price }} ₽</div>
                    <button class="action-btn" data-id="{{ product.id }}">В корзину
                    </button>
                </div>
            </a>
        {% empty %}

        {% endfor %}
    </section>
{% endblock %}