{% extends "base.html" %}
{% load static %}
{% block title %}Корзина — ВИКИ{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
{% endblock %}

{% block content %}
    {% csrf_token %}
    <div style="display: none;">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    </div>
    <!-- остальной контент -->
    {% include "store/includes/header.html" %}

    <section class="hero">
        <h1><span class="gradient-text">КОРЗИНА</span></h1>
        <p class="typewriter-text"></p>
    </section>

    {% if cart_items %}
        {% include "store/cart_fragment.html" %}
    {% else %}
        <div class="empty-cart" id="empty-cart">
            <p style="margin: 0 0 30px 0;">Ваша корзина пуста</p>
            <a href="{% url 'catalog' %}" class="gradient-btn">Перейти в каталог</a>
        </div>
    {% endif %}
{% endblock %}

{% block extra_js %}

    <script src="{% static 'js/animateprintcart.js' %}"></script>


{% endblock %}