<!-- django-html -->
{% extends "base.html" %}
{% block title %}Главная — ВИКИ{% endblock %}
{% load static %}
{% block content %}
{% include "store/includes/header.html" %}
<!-- Модальное окно поиска (скрыто по умолчанию) -->
<div class="search-modal" id="search-modal">
    <button class="close-search" id="close-search">&times;</button>
    {% include "store/includes/search-form.html" %}
</div>

<section class="hero">
    <h1>Добро пожаловать в <span class="gradient-text">ВИКИ</span></h1>
    <p class="typewriter-text"></p>
</section>

<!-- Сетка из 6 карточек -->
<section class="weekly-products-grid">
    <!-- Карточки повторяются, позже можно заменить на разные товары -->
    {% for product in featured_products %}
    <a href="{% url 'product_detail' slug=product.slug %}" class="product-card-link">
        <div class="weekly-product">
            {% if product.is_new %}<span class="weekly-badge">ТОВАР НЕДЕЛИ</span>{% endif %}
            <img src="{{ product.image.url }}" alt="{{ product.name }}">
            <div class="title">{{ product.name }}</div>

            <div class="price">от {{ product.price }} ₽</div>
            <button class="action-btn" onclick="event.stopPropagation();">Успей заказать</button>

        </div>
    </a>
    {% endfor %}
</section>
<!-- Пагинация -->
{% if featured_products.paginator.num_pages > 1 %}
    <div class="pagination">
        {% if featured_products.has_previous %}
            <a href="?page={{ featured_products.previous_page_number }}" class="pagination-arrow">&lt;</a>
        {% else %}
            <span class="pagination-arrow disabled">&lt;</span>
        {% endif %}

        {% for num in featured_products.paginator.page_range %}
            {% if featured_products.number == num %}
                <span class="pagination-number active">{{ num }}</span>
            {% else %}
                <a href="?page={{ num }}" class="pagination-number">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if featured_products.has_next %}
            <a href="?page={{ featured_products.next_page_number }}" class="pagination-arrow">&gt;</a>
        {% else %}
            <span class="pagination-arrow disabled">&gt;</span>
        {% endif %}
    </div>
{% endif %}
<script src="{% static 'js/animateprint.js' %}"></script>
<script type="{% static 'js/cart.js' %}"></script>

{% endblock %}