<!-- django-html -->
{% extends "base.html" %}
{% block title %}Главная — ВИКИ{% endblock %}
{% load static %}
{% block content %}
{% include "store/includes/header.html" %}
<!-- Модальное окно поиска (скрыто по умолчанию) -->
<div class="search-modal" id="search-modal">
    <button class="close-search" id="close-search">&times;</button>
    {% include "store/includes/search-form.html" %}
</div>

<section class="hero">
    <h1>Добро пожаловать в <span class="gradient-text">ВИКИ</span></h1>
    <p class="typewriter-text"></p>
</section>

<!-- Сетка из 6 карточек -->
<section class="weekly-products-grid">
    <!-- Карточки повторяются, позже можно заменить на разные товары -->
    {% for product in featured_products %}
    <a href="{% url 'product_detail' %}" class="product-card-link">
        <div class="weekly-product">
            {% if product.is_new %}<span class="weekly-badge">ТОВАР НЕДЕЛИ</span>{% endif %}
            <img src="{{ product.image.url }}" alt="{{ product.name }}">
            <div class="title">{{ product.name }}</div>
            <div class="description">{{ product.description|truncatewords:10 }}</div>
            <div class="price">от {{ product.price }} ₽</div>
            <button class="action-btn" onclick="event.stopPropagation();">Успей заказать</button>

        </div>
    </a>
    {% endfor %}
</section>
<script src="{% static 'js/animateprint.js' %}"></script>
<script type="{% static 'js/cart.js' %}"></script>

{% endblock %}